<h2>Edit your comment</h2>

<%= form_for(@comment) do |f| %>
  <% #FIXME: Validation errors not showing up. %>
  <%= render 'shared/error_messages', object: @comment %>
  <div class="field">
    <%= f.text_area :message, placeholder: "Add a comment" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn" %>
  </div>
<% end %>
