<% if object.errors.any? %>
  <div class="alert alert-error">
    <h4><%= pluralize(object.errors.count, "error") %> stopped this link from being submitted:</h4>

    <ul>
      <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
