/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";
@import "helpers";

body {
  padding-top: 60px;
}

// Links

.entry {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px 0 0 35px;
  position: relative;

  .title {
    font-weight: normal;
    margin: 0 0 5px;
  }
}

// Voting

.voting {
  font-size: 18px;
  position: absolute;
  top: 5px; left: 5px;

  a, i {
    color: $lightGray;
    display: block;
    text-decoration: none;
  }

  a:hover {
    color: darken($lightGray, 10%);
  }

  p {
    font-size: 12px;
    margin: 0;
    text-align: center;
  }

  .icon-thumbs-up.active {
    color: $thumbsUp;
  }

  .icon-thumbs-down.active {
    color: $thumbsDown;
  }
}

// Sidebar

.sidebar {
  h3 {
    margin-top: 0;
  }
}

// Miscellaneous

.debug_dump {
  clear: both;
  margin-top: 45px;
}

.center {
  text-align: center;
}

// Media Queries
@import "bootstrap-responsive";
