/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";
@import "helpers";

body {
  padding-top: 60px;
}

* {
  -webkit-font-smoothing: antialiased;
}

// Typography

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

.navbar .brand {
  margin-right: 10px;
  font-size: 1.7em;
  color: #ccc;
  letter-spacing: -1px;
  font-weight: bold;
  text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;

  &:hover {
    color: #999;
  }
}

a {
  transition: color .33s ease;

  &:hover {
    text-decoration: none;
  }
}

// Masthead

.navbar .nav  {

  .image a {
    padding: 0;
    padding-top: 7px;
    position: relative;
    left: 5px;
    opacity: .75;
    transition: opacity .33s ease;

    &:hover {
      opacity: 1;
    }
  }
  .gravatar {
    border-radius: 5px;
  }
}

// Links

.entry {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px 0 0 35px;
  position: relative;

  .title {
    margin: 0 0 5px;
  }
}

// Voting

.voting {
  font-size: 18px;
  position: absolute;
  top: 5px; left: 5px;

  a, i {
    color: $lightGray;
    display: block;
    text-decoration: none;
  }

  a:hover {
    color: darken($lightGray, 10%);
  }

  p {
    font-size: 12px;
    margin: 0;
    text-align: center;
  }

  .icon-thumbs-up.active {
    color: $thumbsUp;
  }

  .icon-thumbs-down.active {
    color: $thumbsDown;
  }
}

// Comments

.comments {
  div {
    border-bottom: 1px solid $lightGray;
    margin-bottom: 10px;
    padding-bottom: 10px;
    overflow: hidden;

    &.last {
      border-bottom: none;
    }
  }

  p {
    margin-bottom: 0;
    line-height: 1em;
  }

  .comment-text {
    margin: 10px 0 5px;
  }

  small {
    color: #ccc;
  }

  .gravatar {
    display: block;
    float: left;
    margin-right: 10px;
    margin-bottom: 0;
  }
}

// Sidebar

.sidebar {
  h3 {
    margin-top: 0;
  }
}

// Form Styles

.checkbox-label {
  display: inline;
}

#comment_message {
  box-sizing: border-box;
  width: 245px;
  max-width: 50%;
  min-height: 75px;
  max-height: 300px;
}

.rememberable {
  margin-bottom: 10px;
}

#signin,
#signup,
#edit-profile,
#forgot-password,
#new-link {
  input[type="email"],
  input[type="password"],
  input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    height: 40px;
  }

  .alert {
    h3 {
      font-size: 16px;
      line-height: inherit;
    }
  }
}

#forgot-password,
#new-link {
  input[type="submit"] {
    width: 100%;
  }
}

body #error_explanation {
  @extend .alert;
  @extend .alert-error;
  color: #b94a48;
  padding: 8px 35px 8px 14px;

  h2 {
    font-size: 16px;
    line-height: inherit;
  }

  ul {
    margin-left: 2em;
  }

  li {
    list-style: disc;
  }
}

// Validation

.field_with_errors {
  label {
    color: #900;
  }

  input {
    background: #ffe5e5;
  }
}

#error_explanation {
  color: #f00;

  ul {
    list-style: none;
    margin: 0 0 18px;
  }
}

// Miscellaneous

.debug_dump {
  clear: both;
  margin-top: 45px;
}

.center {
  text-align: center;
}

// Media Queries
@import "bootstrap-responsive";
